body {
  font-size: 1.2rem; /* --- 1.015625rem; --- */
  font-weight: 300;
  line-height: 1.3; /* --- 1.574; --- */
}

h1 {
  font-size: 2.65rem; /* --- 3.25rem; --- */
}

h2 {
  font-size: 1.8rem; /* --- 2.2rem; --- */
  font-weight: 500;
}

h3,
.article-subheading {
  font-size: 1.5rem; /* --- 1.8rem; --- */
  font-weight: 500;
}

#R-body h2 {
  font-weight: 700;
  font-size: 1.5rem;
}
#R-body h3 {
  font-weight: 600;
  font-size: 1.4rem;
}
#R-body h4 {
  font-weight: 600;
  font-size: 1.3rem;
}

#R-sidebar {
  font-size: 0.953125rem; /* --- .953125rem; --- */
  line-height: 1.5; /* 1.574; */
  font-weight: 500;
  font-size: 1.2rem;
}
#R-sidebar ul li {
  line-height: 1.4;
}
#R-sidebar ul.collapsible-menu li.active > a {
  border-inline-end-color: var(--INTERNAL-MENU-BORDER-color);
}
#R-sidebar ul.collapsible-menu > li > label {
  margin-left: 2px;
}

/* Sidebar Titles */
#R-sidebar ul.topics > li > a b {
  font-weight: 400;
  opacity: 0.5;
  line-height: 1;
}

#R-body .flex-block-wrapper {
  /*
    margin-left: auto;
    margin-right: auto;
	*/

  max-width: /* calc( 81.25rem - 18.75rem - 2 * 3.25rem ); */ calc(
    88.25rem - 18.75rem - 2 * 1.25rem
  );
}

/* we limit width if we have large screens */
@media screen and (min-width: 88.25rem) {
  /* #R-sidebar/width + ./max-width */
  #R-body .flex-block-wrapper {
    width: calc(88.25rem - var(--INTERNAL-MENU-WIDTH-L) - 2 * 3.25rem);
  }
  body:not(.print) #R-body .narrow .flex-block-wrapper {
    width: calc(88.25rem - var(--INTERNAL-MENU-WIDTH-L) - 2 * 9.75rem);
  }
}
