/*Code blocks*/
.content code:not(.code-block code) {
  /*color: #c97c2e;*/
  color: #2fd620;
}

/* Background */
.bg {
  color: #cdd6f4;
  background-color: #1e1e2e;
}
/* PreWrapper */
.chroma {
  color: #cdd6f4;
  background-color: #1e1e2e;
}
/* Other */
.chroma .x {
}
/* Error */
.chroma .err {
  color: #f38ba8;
}
/* CodeLine */
.chroma .cl {
}
/* LineLink */
.chroma .lnlinks {
  outline: none;
  text-decoration: none;
  color: inherit;
}
/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}
/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
/* LineHighlight */
.chroma .hl {
  background-color: #45475a;
}
/* LineNumbersTable */
.chroma .lnt {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f849c;
}
/* LineNumbers */
.chroma .ln {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f849c;
}
/* Line */
.chroma .line {
  display: flex;
}
/* Keyword */
.chroma .k {
  color: #cba6f7;
}
/* KeywordConstant */
.chroma .kc {
  color: #fab387;
}
/* KeywordDeclaration */
.chroma .kd {
  color: #f38ba8;
}
/* KeywordNamespace */
.chroma .kn {
  color: #94e2d5;
}
/* KeywordPseudo */
.chroma .kp {
  color: #cba6f7;
}
/* KeywordReserved */
.chroma .kr {
  color: #cba6f7;
}
/* KeywordType */
.chroma .kt {
  color: #f38ba8;
}
/* Name */
.chroma .n {
}
/* NameAttribute */
.chroma .na {
  color: #89b4fa;
}
/* NameBuiltin */
.chroma .nb {
  color: #89dceb;
}
/* NameBuiltinPseudo */
.chroma .bp {
  color: #89dceb;
}
/* NameClass */
.chroma .nc {
  color: #f9e2af;
}
/* NameConstant */
.chroma .no {
  color: #f9e2af;
}
/* NameDecorator */
.chroma .nd {
  color: #89b4fa;
  font-weight: bold;
}
/* NameEntity */
.chroma .ni {
  color: #94e2d5;
}
/* NameException */
.chroma .ne {
  color: #fab387;
}
/* NameFunction */
.chroma .nf {
  color: #89b4fa;
}
/* NameFunctionMagic */
.chroma .fm {
  color: #89b4fa;
}
/* NameLabel */
.chroma .nl {
  color: #89dceb;
}
/* NameNamespace */
.chroma .nn {
  color: #fab387;
}
/* NameOther */
.chroma .nx {
}
/* NameProperty */
.chroma .py {
  color: #fab387;
}
/* NameTag */
.chroma .nt {
  color: #cba6f7;
}
/* NameVariable */
.chroma .nv {
  color: #f5e0dc;
}
/* NameVariableClass */
.chroma .vc {
  color: #f5e0dc;
}
/* NameVariableGlobal */
.chroma .vg {
  color: #f5e0dc;
}
/* NameVariableInstance */
.chroma .vi {
  color: #f5e0dc;
}
/* NameVariableMagic */
.chroma .vm {
  color: #f5e0dc;
}
/* Literal */
.chroma .l {
}
/* LiteralDate */
.chroma .ld {
}
/* LiteralString */
.chroma .s {
  color: #a6e3a1;
}
/* LiteralStringAffix */
.chroma .sa {
  color: #f38ba8;
}
/* LiteralStringBacktick */
.chroma .sb {
  color: #a6e3a1;
}
/* LiteralStringChar */
.chroma .sc {
  color: #a6e3a1;
}
/* LiteralStringDelimiter */
.chroma .dl {
  color: #89b4fa;
}
/* LiteralStringDoc */
.chroma .sd {
  color: #6c7086;
}
/* LiteralStringDouble */
.chroma .s2 {
  color: #a6e3a1;
}
/* LiteralStringEscape */
.chroma .se {
  color: #89b4fa;
}
/* LiteralStringHeredoc */
.chroma .sh {
  color: #6c7086;
}
/* LiteralStringInterpol */
.chroma .si {
  color: #a6e3a1;
}
/* LiteralStringOther */
.chroma .sx {
  color: #a6e3a1;
}
/* LiteralStringRegex */
.chroma .sr {
  color: #94e2d5;
}
/* LiteralStringSingle */
.chroma .s1 {
  color: #a6e3a1;
}
/* LiteralStringSymbol */
.chroma .ss {
  color: #a6e3a1;
}
/* LiteralNumber */
.chroma .m {
  color: #fab387;
}
/* LiteralNumberBin */
.chroma .mb {
  color: #fab387;
}
/* LiteralNumberFloat */
.chroma .mf {
  color: #fab387;
}
/* LiteralNumberHex */
.chroma .mh {
  color: #fab387;
}
/* LiteralNumberInteger */
.chroma .mi {
  color: #fab387;
}
/* LiteralNumberIntegerLong */
.chroma .il {
  color: #fab387;
}
/* LiteralNumberOct */
.chroma .mo {
  color: #fab387;
}
/* Operator */
.chroma .o {
  color: #89dceb;
  font-weight: bold;
}
/* OperatorWord */
.chroma .ow {
  color: #89dceb;
  font-weight: bold;
}
/* Punctuation */
.chroma .p {
}
/* Comment */
.chroma .c {
  color: #6c7086;
  font-style: italic;
}
/* CommentHashbang */
.chroma .ch {
  color: #6c7086;
  font-style: italic;
}
/* CommentMultiline */
.chroma .cm {
  color: #6c7086;
  font-style: italic;
}
/* CommentSingle */
.chroma .c1 {
  color: #6c7086;
  font-style: italic;
}
/* CommentSpecial */
.chroma .cs {
  color: #6c7086;
  font-style: italic;
}
/* CommentPreproc */
.chroma .cp {
  color: #6c7086;
  font-style: italic;
}
/* CommentPreprocFile */
.chroma .cpf {
  color: #6c7086;
  font-weight: bold;
  font-style: italic;
}
/* Generic */
.chroma .g {
}
/* GenericDeleted */
.chroma .gd {
  color: #f38ba8;
  background-color: #313244;
}
/* GenericEmph */
.chroma .ge {
  font-style: italic;
}
/* GenericError */
.chroma .gr {
  color: #f38ba8;
}
/* GenericHeading */
.chroma .gh {
  color: #fab387;
  font-weight: bold;
}
/* GenericInserted */
.chroma .gi {
  color: #a6e3a1;
  background-color: #313244;
}
/* GenericOutput */
.chroma .go {
}
/* GenericPrompt */
.chroma .gp {
}
/* GenericStrong */
.chroma .gs {
  font-weight: bold;
}
/* GenericSubheading */
.chroma .gu {
  color: #fab387;
  font-weight: bold;
}
/* GenericTraceback */
.chroma .gt {
  color: #f38ba8;
}
/* GenericUnderline */
.chroma .gl {
  text-decoration: underline;
}
/* TextWhitespace */
.chroma .w {
}
